USE [master]
GO
/****** Object:  Database [RandomNames]    Script Date: 2018/07/15 2:51:01 PM ******/
CREATE DATABASE [RandomNames]
GO
USE [RandomNames]
GO
/****** Object:  Table [dbo].[Name]    Script Date: 2018/07/15 2:51:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Name](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Name] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Name] ON 

INSERT [dbo].[Name] ([ID], [Name]) VALUES (1, N'One')
INSERT [dbo].[Name] ([ID], [Name]) VALUES (2, N'Two')
INSERT [dbo].[Name] ([ID], [Name]) VALUES (3, N'Three')
SET IDENTITY_INSERT [dbo].[Name] OFF
USE [master]
GO
